export LUA_PATH='/Users/charles/code/strawberry/./lua_modules/share/lua/5.4/?.lua;/Users/charles/code/strawberry/./lua_modules/share/lua/5.4/?/init.lua;/opt/homebrew/Cellar/luarocks/3.9.2/share/lua/5.4/?.lua;/opt/homebrew/share/lua/5.4/?.lua;/opt/homebrew/share/lua/5.4/?/init.lua;/opt/homebrew/lib/lua/5.4/?.lua;/opt/homebrew/lib/lua/5.4/?/init.lua;./?.lua;./?/init.lua;/Users/charles/.luarocks/share/lua/5.4/?.lua;/Users/charles/.luarocks/share/lua/5.4/?/init.lua'
export LUA_CPATH='/Users/charles/code/strawberry/./lua_modules/lib/lua/5.4/?.so;/opt/homebrew/lib/lua/5.4/?.so;/opt/homebrew/lib/lua/5.4/loadall.so;./?.so;/Users/charles/.luarocks/lib/lua/5.4/?.so'
